
/* BROWSE ISSUES*/
.card-issue{
    border:1px solid rgb(0, 0, 0, 0.1);
}
.card-issue > .card-header-issue {
    background-color: rgb(190, 190, 190, 0.1);
    color: #A72A57 !important;
}
.card-issue > .card-header-issue a{
    background-color: rgb(190, 190, 190, 0.1);
    color: #A72A57 !important;
}
.card-issue > .card-body-issue  span.link-active {
    color: #A72A57;
    cursor: pointer;
}